body {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/plague.jpg');
    background-size: cover;
}


 .title {
    font-size: 10rem;
    color: #f1f1f1;
    margin-right: 35;
    text-shadow: 1px 1px 5px rgba(237, 234, 234, 0.5);
}

.button-container {
    display: flex;
    gap: 20px;
}

.button {
    padding: 40px 50px;
    font-size: 3rem;
    color: #fff;
    background-color: #a70000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #6e0202;
}
